<ion-view view-title="我的积分">
    <ion-content overflow-scroll='false'>
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <span>我的积分</span>
                </div>
                <div class="weui-cell__ft">1318积分</div>
            </div>
            <a class="weui-cell weui-cell_access" href="#/record">
                <div class="weui-cell__bd">
                    <span>积分兑换记录</span>
                </div>
               <i class="icon ion-ios-arrow-forward"></i>
            </a>
            <a class="weui-cell weui-cell_access" href="#/exchange">
                <div class="weui-cell__bd">
                    <span>积分兑换</span>
                </div>
                <i class="icon ion-ios-arrow-forward"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
