<ion-view view-title="评价">
    <ion-header-bar class="bar-positive">
        <div class="buttons">
            <button class="button">取消</button>
        </div>
        <h5 class="title">订单编号: KSDJF555</h5>
        <div class="buttons">
            <button class="button">发表</button>
        </div>
    </ion-header-bar>
    <ion-content >
        <div>
            <p>维修公司名: 江苏浩瀚技术有限公司</p>
            <p>派遣维修人员: 王申</p>
        </div>
    </ion-content>
    <ion-footer-bar class="bar bar-footer button-bar" style="height: 50px;">
        <button class="button button-positive" style="font-size: inherit;font-weight: 450;">提 交</button>
    </ion-footer-bar>
</ion-view>

